.app-bg-primary {
    background: #F26522;
}

.nav-item > .nav-link{
    padding: .2rem .4rem;
}


.loading-indicator{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    padding: .4rem 1rem;
}
body, html{
    height: 100%;
}
body {
    background: #f1f1f1;
}
.main-nav{
    box-shadow: 2px 3px 5px #C0B5B2;
}
.react-icons {
    margin-bottom: .2rem;
}
